.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
This codes below indicating the
page/Home.js 
styles
 */

body {
  background-color: #f0f4f7; /* Light background for better readability */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 50px;
  padding: 20px;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: #388e3c;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}


/* footer navigation */

.footer-navigations a {
  color: inherit; /* Ensures the default color of the link is inherited from the parent */
  text-decoration: none; /* Removes underline by default */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition effect */
}

.footer-navigations a:hover {
  color: #FF6347; /* Change to your desired hover color, e.g., Tomato */
  text-decoration: underline; /* Adds an underline on hover */
  text-decoration-color: black; /* Optional: specify the color of the underline */
  text-decoration-thickness: 2px; /* Optional: specify the thickness of the underline */
}

.footer-social-icons {
  display: flex;
  gap: 16px; /* Space between icons */
}

.footer-social-icons a {
  color: inherit; /* Default color */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition effect */
  font-size: 2rem; /* Adjust size as needed */
}

.footer-social-icons a:hover {
  color: #FF6347; /* Change to your desired hover color */
  transform: scale(1.2); /* Scale up the icon on hover */
}
